/* layout */
header {
  width: 100%;
  padding: 12px;
}

main {
  width: 68%;
  margin: 10px 2% 10px 5%;
  float: left;
}

aside {
  margin: 10px 0 10px 0;
  width: 21%;
  float: left;
  padding: 6px;
}

footer {
  height: 100px;
  width: 100%;
  background-color: $beta-dark;
  clear: both;
}
