/* define media queries */

$tablet: 775px;

.container-body {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: #fff;
  // border-bottom: 0.1em solid $beta;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  width: 100%;
  padding: 2em;
  @media (max-width: $tablet){
    width: 100%;
  }
}

main {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  width: 80%;
  margin: 0 auto;
}

.container-main {
  background-color: $beta-light;
}

article {
  width: 68%;
  margin: 10px 2% 10px 5%;
  float: left;
  @media (max-width: $tablet){
    width: 100%;
    margin: 0;
  }
}

aside {
  margin: 10px 0 10px 0;
  width: 21%;
  float: left;
  padding: 6px;
  @media (max-width: $tablet){
    clear: both;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

footer {
  height: 100px;
  width: 100%;
  background-color: $beta-dark;
  clear: both;
}
