/* LAYOUT */
$tablet: 1024px;

body {
  background: $beta-darkest;
}

.container-body {
  width: 80%;
  margin: 0 auto;
  @media (max-width: $tablet){
    width: 100%;
  }
}

header {
  width: 100%;
  background: #fff;
}

main {
  width: 100%;
  margin: 0 auto;
  padding: 0.9em 0;
  background: $beta-light;
  border-top: 0.1em solid $beta;
}

.inner-main {
  background: #fff;
  width: 90%;
  margin: 0 auto;
}

article {
  width: 70%;
  float: left;
  @media (max-width: $tablet){
    width: 100%;
  }
}

aside {
  width: 30%;
  float: left;
  @media (max-width: $tablet){
    width: 100%;
  }
}

footer {
  width: 100%;
  background: $beta-dark;
}
