/* FEATURE-MODULE */

.feature {
  &__main-image {
    width: 100%;
    margin: 0;
    border: 1px solid black;
  }
  &__title {
    font-weight: bold;
    margin: 10px 6px 8px 12px;
  }
  &__author {
    @include by-line;
  }
  &__teaser {
    margin: 0 6px 8px 12px;
  }
}
