.main-Nav {
  border-top: 4px solid black;
}


.inline-Navbar li {
  display: inline-block;
  font-size: 2em;
  margin-right: 2em;
}

.feature__mainImage {
  width: 100%;
  margin: 0;
  border: 1px solid black;
}

.feature__title {
  font-weight: bold;
  font-size: 2em;
  margin: 10px 6px 8px 12px;
}

.feature__teaser {
  margin: 0 6px 8px 12px;
}

.other-Article {
  width: 100%;
  border-bottom: 1px solid gray;
  h1 {
    text-transform: uppercase;
    color: red;
    margin-left: 10px;
  }
  h2 {
    font-size: 1.6em;
    margin-left: 10px;
  }
}

.footer-Nav {
  text-align: center;
  padding-top: 10px;
  li {
    color: #FFF;
    font-size: 1em;
  }
}
