/* NAV-MODULE */
a:hover {
  color: red;
}

.banner-title {
  text-align: center;
  padding-top: 1.5em;
  color: #000;
}

.main-nav {
  border-top: 0.1em solid black;
  text-align: center;
  li {
    @include nav-format;
  }
}
