/* NAV-MODULE */
a:hover {
  color: red;
}

.banner-title {
  font-size: $gigantor;
  font-family: 'Merriweather', serif;
  text-align: center;
}

.main-nav {
  border-top: 4px solid black;
  li {
    @include nav-format;
    font-size: $large;
    @media (max-width: 775px){
      font-size: $medium;
    }
    @media (max-width: 498px){
      font-size: $small;
    }
  }
}
