/* NAV-MODULE */
a:hover {
  color: red;
}

.banner-title {
  font-size: $gigantor;
  font-family: 'Merriweather', serif;
  text-align: center;
  padding-top: 1.5em;
  color: #000;
}

.main-nav {
  border-top: 0.2em solid black;
  text-align: center;
  li {
    @include nav-format;
    font-size: $small;
  }
}
